@import '../../../../shared/styles/colors.scss';
@import '../../../../shared/styles/typography.scss';
@import '../../../../shared/styles/breakpoint.scss';



%container {
    margin: 24px;
    
}
%text {
    margin: 24px;
}

.resultsContainer {
    @extend %container;
    p {
        text-align: center;
        @extend %regular;
        @extend %text;
    }
}

.recommendations {
    max-height: 550px;
    overflow-x: hidden;
}
.buttonContainer {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    >:first-child {
        margin-right: 16px;
    }
}

.header {
    @extend %h3;
    @extend %text;
    text-align: center;
}

.recommendationCart {
    %button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    position: relative;
    .likeButton {
        @extend %button;
        background-color: $dark-red;
        > svg {
            width: 12px;
            height: 12px;
        }
    }
    .questionButton {
        @extend %button;
        background-color: $neutral-grey;
        > svg {
            width: 18px;
            height: 18px;
            color: $primary-black;
        }
    }
    
}


@media (max-width: $mobile) {


    .recommendationCart {
        %button {
            right: 8px;
        }
    }
 }
