@import '../../shared/styles/colors.scss';
@import '../../shared/styles/typography.scss';
@import '../../shared/styles/breakpoint.scss';
.container {
   background-color: inherit;
   height: 100vh;
}

.navContainer {
   background-color: $primary-white ;
   padding: 16px 40px;
   justify-content: space-between !important;
}

.button {
   color: $primary-blue;
   background-color: transparent;
   border: none;
   display: flex;
   align-items: center;
}

.buttonText {
   font-size: 18px;
   font-weight: 500;
}

.brand {
   @extend %brand;
   color: $primary-blue !important;
   padding: 0 !important;
   line-height: 24px;
}

.sectionMain {
   padding-top: 40px;
   background-color: $primary-blue;
   color: $primary-white;

   .header {
      @extend %header;
   }

   .infoRow {
      padding: 40px 72px 18px 80px;
   }

   .subsectionHeader {
      @extend %subheader;
   }
}

.sectionIdea{
   padding: 72px;
   background-color: $neutral-grey;
   padding-bottom: 36px;
   
   .header {
      @extend %header;
   }

   .infoRow {
      padding: 72px 72px 18px 72px;
   }

   .subsectionHeader {
      @extend %subheader;
   }
}

.sectionAbout{
   padding: 72px;
   padding-bottom: 36px;
   
   .header {
      @extend %header;
   }

   .subsectionHeader {
      @extend %subheader;
   }

   .link {
      color: $primary-blue;
      margin-right: 16px;
   }

   .aboutImage {
      margin: auto;
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
   }

}


.sectionHow {
   padding: 72px;
   padding-bottom: 36px;
   .header {
      @extend %header;
   }
}

@media (max-width: $mobile) {
   .sectionMain {
      padding-top: 36px;  
      
      .infoRow {
         padding: 36px;
      }
   }
   .navContainer {
      padding: 18px 24px;
   }

   .sectionIdea, .sectionAbout, .sectionHow {
      padding: 36px;
   }
}