@import '../../shared/styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    border-bottom: none;
}
.modal {
    border-radius: 16px;
}

.customSize {
    width: 550px;
}

