@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoint.scss';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    border-bottom: none;
}
.modal {
    border-radius: 16px;
}

.customSize {
    width: 550px;
}

@media (max-width: $mobile) {
    .customSize {
       width: 100%;
       margin: 0px;
    }
}
