@import '../../shared/styles/colors.scss';

.container {
    background-color: $primary-blue;
    padding: 24px 40px;
    justify-content: space-between !important;
    * {
        color: $primary-white;
    }
}

.button {
    
    background-color: transparent;
    border: none;
    
    display: flex;
    align-items: center;
}

.buttonText {
    font-size: 18px;
    font-weight: 500;
}

.brand {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.005em;
    color: $primary-white !important;
    padding: 0 !important;
    line-height: 24px;
}