@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoint.scss';
@import '../../shared/styles/typography.scss';
.container {
    background-color: $primary-blue;
    padding: 24px 40px;
    justify-content: space-between !important;
    * {
        color: $primary-white;
    }
}

.button {
    
    background-color: transparent;
    border: none;
    
    display: flex;
    align-items: center;
}

.buttonText {
    font-size: 18px;
    font-weight: 500;
}

.brand {
    @extend %brand;
    color: $primary-white !important;
    padding: 0 !important;
    line-height: 24px;
}

@media (max-width: $mobile) {
    .container {
       padding: 12px 24px;
    }
 
 
 }