@import '../../../../shared/styles/typography.scss';

%text {
    margin: 24px;
}

.header {
    @extend %h3;
    @extend %text;
    margin-bottom: 0px;
}

.text {
    @extend %regular;
    @extend %text;
    span {
        display: block;
        margin-bottom: 8px;
    }
}

.iconContainer {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}