@import './shared/styles/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Spartan');

html {
  background-color: $primary-white;
}
body {
  margin: 0;
  font-family: 'Spartan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --amplify-primary-color: #B23D55;
  --amplify-primary-tint: #A78DB4;
  --amplify-primary-shade: #8993C3;
  
}

amplify-authenticator {
  --container-height: 100%;
}