@import './shared/styles/colors.scss';
@import './shared/styles/buttons.scss';
@import url('https://fonts.googleapis.com/css?family=Spartan');

html {
  background-color: $primary-grey;
}
body {
  margin: 0;
  font-family: 'Spartan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-grey !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
