@import '../../shared/styles/colors.scss';

.container {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    
}

.attributes {
    background-color: $white;
    padding: 16px 16px;
}

.header {
    color: $primary-blue;
    display: flex;
}

%imageStyle {
    height: 168px;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
}

.image {
    @extend %imageStyle;
    background-size: cover;
}

.noImage {
    @extend %imageStyle;
}

.toggle {
    transform: rotate(0.5turn);
}
.pill {
    background-color: $light-grey;
    color: $primary-blue;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 10px;
    border-radius:16px;
    margin-bottom: 4px;
    margin-right: 4px;
}
.list {
    border-top: 1px solid $light-grey;
    padding-top: 16px;
    margin: 8px 0 0;
}

.list:first-child {
margin-left: 0;
}

